body{
    background: rgb(24, 24, 24);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    width: 200px;
    height: 100px;
    background: rgb(28,21,144);
    background: linear-gradient(16deg, rgba(28,21,144,1) 0%, rgba(21,69,144,1) 31%, rgba(57,123,219,1) 100%);
    border-radius: 30px;
}
.button:hover{
    background: rgb(81, 139, 226);
    background: linear-gradient(16deg, rgb(81, 139, 226) 0%, rgb(68, 130, 223) 31%, rgba(57,123,219,1) 100%);
}
a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.text{
    color: white;
    font-size: 3rem;
}
